:root {
	--length: 40vh;
	--border-length: 1vh;
	--length-ratio: 3;
}

* {
	padding: 0;
	margin: 0;
	font-family: monospace;
	box-sizing: border-box;

	background-color: rgba(05, 05, 05, 05);
	color: rgba(255, 255, 255, 1);
	font-size: calc( var(--length) / 10 );
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5vh;
}

#container {
	width: 80vh;
	height: 80vh;
	
	background-color: rgba(25, 25, 25, 05);
	box-shadow: 1vh 1vh 3vh rgba(150, 150, 150, 0.5);
}

#rubik-cube {
	position: relative;
	top: 50%;
	left: 50%;
	width: var(--length);
	height: var(--length);
	transform-style: preserve-3d;
	display: flex;
	align-items: center;
	justify-content: center;

	perspective: 9000vh;
	background-color: rgba(0, 0, 200, 0);
	transform: translate(-50%, -50%) rotateY(19deg) rotateX(334deg);
}

#rubik-cube .cubie {
	width: calc( var(--length) / var(--length-ratio) );
	height: calc( var(--length) / var(--length-ratio) );
	transform-style: preserve-3d;
	position: absolute;
	transition: all 2s;

	background-color: rgba(200, 0, 0, 0.1);
}

.cubie-container {
	position: absolute;
	width: calc( var(--length) / var(--length-ratio) * 1 );
	height: calc( var(--length) / var(--length-ratio) * 1 );
	transform-style: preserve-3d;
}

.face {
	width: calc( var(--length) / var(--length-ratio) );
	height: calc( var(--length) / var(--length-ratio) );
	transform-style: preserve-3d;
	font-weight: bolder;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0;

	border: var(--border-length) solid black;
	opacity: 0.75;
}

.up {
	transform: rotateX(90deg) translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}
.down {
	transform: rotateX(-90deg) translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}
.front {
	transform: translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}
.back {
	transform: rotateY(180deg) translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}
.right {
	transform: rotateY(90deg) translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}
.left {
	transform: rotateY(-90deg) translateZ(calc(var(--length) / var(--length-ratio) * 1 / 2));
}

.white { background-color: white; }
.yellow { background-color: yellow; }
.green { background-color: green; }
.blue { background-color: blue; }
.red { background-color: red; }
.orange { background-color: orange; }
.black { background-color: black; }

#U { transform: translateY( calc( var(--length) / var(--length-ratio) * -1 ) ); }
#D { transform: translateY( calc( var(--length) / var(--length-ratio) * 1 ) ); }
#F-container { 
	transform: translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ); 
} 
#B { transform: translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ); }
#R { transform: translateX( calc( var(--length) / var(--length-ratio) * 1 ) ); }
#L { transform: translateX( calc( var(--length) / var(--length-ratio) * -1 ) ); }

#UF-container {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#UL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#UB {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#UR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}

#DF-container {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#DL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#DB {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#DR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}

#FR-container{
	transform: 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#FL-container {
	transform: 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}

#BR {
	transform: 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#BL {
	transform: 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}

#UFR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#UFL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#UBR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#UBL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}

#DFR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#DFL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}
#DBR {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * 1 ) );
}
#DBL {
	transform: 
		translateY( calc( var(--length) / var(--length-ratio) * 1 ) ) 
		translateZ( calc( var(--length) / var(--length-ratio) * -1 ) ) 
		translateX( calc( var(--length) / var(--length-ratio) * -1 ) );
}

/* #U.cubie {
	top: 0;
}

#U.cubie::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  content: '';
  background-color: #f0f;
  border-radius: 50%;
  transform: translate(-50%, -50%);
} */

#control {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#control button {
	padding: 2vh;
}